<?xml version="1.0"?>

<robot name="limo_four_diff" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find limo_description)/urdf/limo_xacro.xacro" />
    <xacro:include filename="$(find limo_description)/urdf/limo_four_diff.gazebo" />

    <!-- Variables -->
    <xacro:property name="M_PI" value="3.14159"/>
  
    <xacro:property name="wheelbase" value="0.2"/>
    <xacro:property name="track" value="0.13"/>
    <xacro:property name="wheel_vertical_offset" value="-0.10" />
    <xacro:property name="base_mass" value="2.1557"/>

    <xacro:property name="wheel_length" value="0.0437" />
    <xacro:property name="wheel_radius" value="0.048" />
    <material name="gray">
    <color rgba="0.5 0.5 0.5 1"/>
    </material>
    <link name="base_footprint"/>

    <joint name="base_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_footprint"/>
        <origin xyz="0.0 0.0 -0.15" rpy="0 0 0"/>
    </joint>
    <!-- === Livox Mid360 Lidar === -->
  <joint name="mid360_joint" type="fixed">
    <parent link="base_link"/>
    <!-- 位于原雷达位置：前方略微上方 -->
    <child link="mid360_link"/>
    <origin xyz="0.0 0 0.122" rpy="0 0 -1.57"/>
  </joint>

  <link name="mid360_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <!-- 可自行换成实际 mesh 模型 -->
        <cylinder length="0.05" radius="0.04"/>
      </geometry>
      <material name="gray"/>
    </visual>
  </link>
  <gazebo reference="mid360_link">
    <sensor type="ray" name="laser_livox">
            <pose>0 0 0.0 0 0 0</pose>
            <visualize>true</visualize>
            <always_on>true</always_on>
            <update_rate>20</update_rate>
            <!-- This ray plgin is only for visualization. -->
            <plugin name="gazebo_ros_laser_controller" filename="liblivox_laser_simulation.so">
            <ray>
            <scan>
              <horizontal>
                <samples>100</samples>
                <resolution>1</resolution>
                <min_angle>-3.1415926535897931</min_angle>
                <max_angle>3.1415926535897931</max_angle>
              </horizontal>
              <vertical>
                <samples>50</samples>
                <resolution>1</resolution>
                <min_angle>-3.1415926535897931</min_angle>
                <max_angle>3.1415926535897931</max_angle>
              </vertical>
            </scan>
            <range>
              <min>0.1</min>
              <max>40</max>
              <resolution>1</resolution>
            </range>
            <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.0</stddev>
            </noise>
            </ray>
              <visualize>false</visualize>
              <samples>20000</samples>
              <downsample>1</downsample>
              <csv_file_name>mid360-real-centr.csv</csv_file_name>
              <publish_pointcloud_type>2</publish_pointcloud_type>
              <ros_topic>/livox/lidar</ros_topic>
              <frameName>mid360_link</frameName>
            </plugin>
        </sensor>
      <!-- === End Mid360 === -->
    </gazebo>
    <!-- Base link -->
    <link name="base_link">
        <visual>
            <origin xyz="0 0 -0.15" rpy="0 0 1.57" />
            <geometry>
                <mesh filename="package://limo_description/meshes/limo_base.dae"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 -0.15" rpy="0 0 1.57" />
            <geometry>
                <mesh filename="package://limo_description/meshes/limo_collision.stl"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0.0 0.0 0.0" />
            <mass value="${base_mass}" />
            <inertia ixx="0.019264" ixy="0" ixz="0" 
                     iyy="0.029586" iyz="0" 
                     izz="0.02693" />
        </inertial>
    </link>

    <!-- <xacro:limo_laser parent_prefix="base_link" frame_prefix="laser">
        <origin xyz="0.103 0 -0.034" rpy="0 0 0"/>
    </xacro:limo_laser> -->

    <xacro:limo_depth_camera parent_prefix="base_link" frame_prefix="depth_camera">
        <origin xyz="0.084 0 0.03" rpy="0 0 0"/>
    </xacro:limo_depth_camera>
    
    <xacro:limo_imu parent_prefix="base_link" frame_prefix="imu">
        <origin xyz="0.0 0 -0.1" rpy="0 0 0"/>
    </xacro:limo_imu>

    <xacro:limo_wheel parent_prefix="base_link" wheel_prefix="front_left" reflect="1">
        <origin xyz="${wheelbase/2} ${track/2} ${wheel_vertical_offset}" rpy="0 0  0" />
    </xacro:limo_wheel>

    <xacro:limo_wheel parent_prefix="base_link" wheel_prefix="front_right" reflect="-1">
        <origin xyz="${wheelbase/2} ${-track/2} ${wheel_vertical_offset}" rpy="${M_PI} 0 0" />
    </xacro:limo_wheel>

    <xacro:limo_wheel parent_prefix="base_link" wheel_prefix="rear_left" reflect="1">
        <origin xyz="${-wheelbase/2} ${track/2} ${wheel_vertical_offset}" rpy="0 0 0" />
    </xacro:limo_wheel>

    <xacro:limo_wheel parent_prefix="base_link" wheel_prefix="rear_right" reflect="-1">
        <origin xyz="${-wheelbase/2} ${-track/2} ${wheel_vertical_offset}" rpy="${M_PI} 0 0" />
    </xacro:limo_wheel>
</robot>
